header{
    position: fixed;
    top: 0;
    min-height: 75px;
    padding: 0px 290px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: rgb(27, 240, 98);
    text-align:center;
    color: #e75480;
    font-size:25px;
    text-shadow:5px 4px #800080;
  }